.space {
    $light-blue: rgb(4, 30, 77);
    $light-blue: #07317d;
    $light-blue-glow: lighten($light-blue, 10%);
    $font-blue: lighten($light-blue, 60%);
    $font-blue-glow: lighten($light-blue-glow, 25%);
    $dark-blue: rgba(0,23,55,1);
    $trio-left: 90%;
    $trio-height: 55%;
    $menu-overhang: 100px;
    $button-font-size: 1.1rem;
    font-size: 16px;
    @mixin button {
        padding: 8px 18px;
        background: $dark-blue;
        color: $font-blue;
        font-family: 'Orbitron', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $button-font-size;
        letter-spacing: 0.1rem;
        border: 1px solid lighten($light-blue, 20%);
        border-radius: 7px;
        border-image: radial-gradient(rgba($light-blue, 0) 8%, $light-blue-glow 48%, white, $light-blue-glow 52%, rgba($light-blue, 0) 72%);
        border-image-slice: 48%;
        border-image-width: 21px;
        border-image-outset: 6px;
        transition: background 0.2s;
        &:hover {
            cursor: pointer;
            background: lighten($dark-blue, 10%);
        }
    }

    margin: 0;
    padding: 0;
    .bg-elements{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // diagonal glow and shadows
        &:before, &:after{
            content:'';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &:before {
            background: linear-gradient(22deg, rgba(0,0,0,1), $dark-blue 30%, $light-blue 49%, $light-blue 51%, $dark-blue 70%, rgba(0,0,0,1));
        }
        &:after {
            background: linear-gradient(174deg, rgba(0,0,0,0.9), rgba(0,0,0,0) 22%, rgba(255,255,255,0) 71%, rgba(255,255,255,0.15));
        }
        // stars
        canvas {
            position: relative;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(30deg);
            width: 125%;
        }
        .random-shape{
            // bottom bars
            &:nth-of-type(1) {
                position: absolute;
                display: block;
                top: 88%;
                left: 0;
                width: 100%;
                height: 5%;
                border: 1px solid rgba(255,255,255,0.1);
                border-width: 15px 1px 5px 1px;
                border-image: radial-gradient(circle at 100% 100%, rgba(255,255,255,0.5), rgba(255,255,255,0) 98%);
                border-image-slice: 30% 60% 1% 1%;
            }
            // side bars
            &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
                position: absolute;
                top: 0;
                display: block;
                width: 25px;
                opacity: 0.6;
                background: linear-gradient(to right, rgba($light-blue, 0), $light-blue 48%, white, $light-blue 52%, rgba($light-blue, 0));
                &:before{
                    $size: 45px;
                    content: '';
                    display: block;
                    position: absolute;
                    width: $size;
                    height: $size;
                    top: calc(100% - .24 * #{$size});
                    left: -10px;
                    background: white;
                    border-radius: 50%;
                    background: radial-gradient( rgba($light-blue, 0), $light-blue 38%, white, $light-blue 42%, rgba($light-blue, 0) 70%);
                }
            }
            &:nth-of-type(2) {
                left: $trio-left;
                height: $trio-height;
            }
            &:nth-of-type(3) {
                left: $trio-left - 5%;
                height: $trio-height - 20%;
            }
            &:nth-of-type(4) {
                left: $trio-left + 3%;
                height: $trio-height - 15%;
            }
        }
    }
    .content{
        position: relative;
        menu {
            position: relative;
            padding: 0;
            margin: 0;
            z-index: 10;
            .btn-wrap {
                text-align: right;
                width: calc(40% + #{$menu-overhang});
                max-width: 80vh;
                position: absolute;
                top: $button-font-size / -2;
                left: -$menu-overhang;
                transform-origin: $menu-overhang center;
                transition: width 0.25s, transform 0.75s ease-in-out;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    height: 100%;
                    width: 100%;
                    opacity: 0.6;
                    background: linear-gradient(to bottom, rgba($light-blue, 0), $light-blue-glow 48%, white, $light-blue-glow 52%, rgba($light-blue, 0));
                }
                &:after{
                    $menu-decoration: 20px;
                    content: "";
                    position: absolute;
                    display: block;
                    width: $menu-decoration;
                    height: $menu-decoration;
                    left: $menu-decoration / -2;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background: radial-gradient(white, $light-blue-glow 12%, rgba($light-blue, 0) 82%);
                }
                a {
                    display: inline;
                    position: relative;
                    @include button;
                }
                &:not(.disabled):hover {
                    width: calc(42% + #{$menu-overhang});
                }
                &.disabled {
                    &:before {
                        background: linear-gradient(to bottom, rgba($light-blue, 0), $light-blue 48%, darken(white, 50%), $light-blue 52%, rgba($light-blue, 0));
                    }
                    a {
                        color: $light-blue;
                        border-image-source: radial-gradient(rgba($light-blue, 0) 8%, $light-blue 48%, darken(white, 50%), $light-blue 52%, rgba($light-blue, 0) 72%);
                    }
                }
            }
            @for $i from 1 through 5 {
                $rotate: 15deg * $i;
                $start-rotate: -180deg + $rotate;
                .btn-wrap:nth-of-type(#{$i}) {
                    transform: rotate(#{$start-rotate});
                }
                &.open .btn-wrap:nth-of-type(#{$i}) {
                    transform: rotate(#{$rotate});
                }
            }
        }
    }
    &.landing-page{
        .bg-elements .random-shape{
            // side bars
            &:nth-of-type(2) {
                animation: 20s ease-in-out 0s infinite middledrop;
            }
            &:nth-of-type(3) {
                animation: 15s ease-in-out 0s infinite leftdrop;
            }
            &:nth-of-type(4) {
                animation: 16s ease-in-out 1s infinite rightdrop;
            }
            @keyframes middledrop {
                0% { height: $trio-height; }
                33% { height: $trio-height + 20%; }
                66% { height: $trio-height - 10%; }
                100% { height: $trio-height; }
            }
            @keyframes leftdrop {
                0% { height: $trio-height - 20%; }
                33% { height: $trio-height -5%; }
                66% { height: $trio-height - 30%; }
                100% { height: $trio-height - 20%; }
            }
            @keyframes rightdrop {
                0% { height: $trio-height - 15%; }
                33% { height: $trio-height - 5%; }
                66% { height: $trio-height - 25%; }
                100% { height: $trio-height - 15%; }
            }
        }
        .content {
            menu {
                .btn-wrap {
                    @for $i from 1 through 5 {
                        $rotate: 15deg * $i;
                        $start-rotate: -180deg + $rotate;
                        &:nth-of-type(#{$i}) {
                            transform: rotate(#{$rotate});
                            animation: 1s ease 0s 1 menuOpen#{$i};
                        }
                        @keyframes menuOpen#{$i} {
                            from { transform: rotate(#{$start-rotate}); }
                            to { transform: rotate(#{$rotate}); }
                        }
                    }
                }
                // rotating circles
                &:before, &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    border-radius: 50%;
                    border: 1px solid lighten($light-blue, 60%);
                    border-top-color: rgba($light-blue, 0);
                    border-left-color: rgba($light-blue, 0);
                    transform: translate(-50%,-50%);
                    opacity: 0.5;
                    pointer-events: none;
                }
                &:before {
                    padding: 105% 0 0 0;
                    width: 105%;
                    border-width: 15px;
                    animation: 30s linear 0s infinite menuDetail;
                }
                &:after {
                    padding: 115% 0 0 0;
                    width: 115%;
                    border-width: 35px;
                    border-right-color: rgba($light-blue, 0);
                    animation: 20s linear 0s infinite reverse menuDetail;
                }
                @keyframes menuDetail {
                    from { transform: translate(-50%,-50%) rotate(0deg); }
                    to { transform: translate(-50%,-50%) rotate(360deg); }
                }
            }
            #space-portal {
                position: fixed;
                bottom: 6%;
                left: 50%;
                transform: translateX(-50%);
                @include button;
            }
        }
    }
    &.content-page {
        .content {
            min-width: 100vw;
            min-height: 100vh;
            border: 1px solid transparent;
            background: rgba(0,0,0,0.5);
            menu {
                a {
                    visibility: hidden;
                }
                button {
                    $menu-before: 40%;
                    $menu-after: 50%;
                    position: absolute;
                    display: block;
                    top: -$menu-overhang;
                    left: -$menu-overhang;
                    width: $menu-overhang * 2;
                    height: $menu-overhang * 2;
                    padding: 0;
                    border-radius: 50%;
                    border: none;
                    background: transparent;
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        border-radius: 50%;
                        display: block;
                        opacity: 0.5;
                        transition: all 0.3s;
                    }
                    &:before {
                        width: $menu-before;
                        height: $menu-before;
                        left: (100% - $menu-before) / 2;
                        top: (100% - $menu-before) / 2;
                        border: 5px solid lighten($light-blue, 60%);
                    }
                    &:after {
                        width: $menu-after;
                        height: $menu-after;
                        left: (100% - $menu-after) / 2;
                        top: (100% - $menu-after) / 2;
                        border: 10px solid lighten($light-blue, 60%);
                    }
                    &:hover {
                        $menu-before-hover: $menu-before - 10%;
                        $menu-after-hover: $menu-after - 10%;
                        &:before, :after {
                            opacity: 0.7;
                        }
                        &:before {
                            width: $menu-before-hover;
                            height: $menu-before-hover;
                            left: (100% - $menu-before-hover) / 2;
                            top: (100% - $menu-before-hover) / 2;
                        }
                        &:after {
                            width: $menu-after-hover;
                            height: $menu-after-hover;
                            left: (100% - $menu-after-hover) / 2;
                            top: (100% - $menu-after-hover) / 2;
                        }
                    }
                }
                // &.open a {
                //     visibility: visible;
                // }
            }
            main {
                margin: 180px 0;
                padding: 0 50px;
                color: $font-blue;
                font-family: 'Lato', sans-serif;
                transition: opacity 0.3s;
                h1, h2, h3, button {
                    font-family: 'Orbitron', sans-serif;
                    letter-spacing: 0.1rem;
                }
                h1 {
                    font-size: 3rem;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 0 0 30px;
                }
                h2 {
                    color: $font-blue-glow;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    margin: 0 0 10px;
                }
                h3 {
                    font-size: 1.3rem;
                    margin: 20px 0;
                }
                h4 {
                    font-size: 1.2rem;
                    font-weight: 700;
                    font-style: italic;
                    letter-spacing: 0.06rem;
                    margin: 0 0 5px;
                }
                li {
                    font-size: 1.1rem;
                    margin: 4px 0 0;
                    line-height: 1.4;
                }
                a {
                    color: $font-blue-glow;
                    word-break: break-word;
                }
                .top-level {
                    h2 {
                        padding-bottom: 0.4rem;
                        border-bottom: 3px solid $font-blue-glow;
                    }
                    .header {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            .open + main {
                opacity: 0.15;
            }
        }
    }
    @media screen and (min-width: 600px) {
        &.content-page .content main .top-level {
            .mid-name, .low-title {
                text-align: left;
            }
            .mid-location {
                text-align: center;
            }
            .mid-date, .low-date {
                text-align: right;
            }
        }
    }
    @media screen and (max-width: 599px) {
        &.content-page .content main .top-level .header {
            display: block;
        }
    }
}