<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Orbitron:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../assets/css/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script type="text/javascript" src="../../assets/js/index.js"></script>
    </head>
<body class="space content-page">
    <div class="bg-elements">
        <div class="random-shape"></div>
        <div class="random-shape drop-bubble"></div>
        <div class="random-shape drop-bubble"></div>
        <div class="random-shape drop-bubble"></div>
        <canvas id="stars" width="1000" height="800"></canvas>
    </div>
    <div class="content">
        <menu class="">
            <div class="btn-wrap"><a href="landing.html">Home</a></div>
            <!-- <div class="btn-wrap disabled"><a href="about-me.html">About Me</a></div> -->
            <div class="btn-wrap disabled"><a>About Me</a></div>
            <div class="btn-wrap"><a href="resume.html">Resume</a></div>
            <div class="btn-wrap disabled"><a>Software</a></div>
            <div class="btn-wrap disabled"><a>Portfolio</a></div>
            <button id="menu-open" aria-label="open menu" tabindex="1"></button>
        </menu>
        <section>
            <H1>I am Sam</H1>
            <H2>Sam I am</H2>
            <p>Space: the final frontier. These are the voyages of the starship enterprise. Her mission, to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before!</p>
            <h2>Here's a new section</h2>
            <p>Have you been in many battles? Several, I think. Actually, there's not much to tell. I'm not much more than an interpreter, and not very good at telling stories. Well, not at making them interesting, anyways. Well, my little friend, you've got something jammed in here real good. Were you on a cruiser or...</p>
            <p>The battle station is heavily shielded and carries a firepower greater than half the star fleet. It's defenses are designed around a direct large-scale assault. A small one-man fighter should be able to penetrate the outer defense. Pardon me for asking, sir, but what good are snub fighters going to be against that? Well, the Empire doesn't consider a small one-man fighter to be any threat, or they'd have a tighter defense. An analysis of the plans provided by Princess Leia has demonstrated a weakness in the battle station.</p>
            <p>You're safe! We had feared the worst. When we heard about Alderaan, we were afraid that you were... We don't have time for our sorrows, Commander. The battle station has surely tracked us here. It's the only explanation for the ease of our escape. You must use the information in this R2 unit to plan the attack. It is our only hope. Yes. We are approaching the planet Yavin. The Rebel base is on a moon on the far side. We are preparing to orbit the planet.</p>
            <p>Help me, Obi-Wan Kenobi. You're my only hope. What's this? What is what?!? He asked you a question... What is that? Help me, Obi-Wan Kenobi. You're my only hope. Help me, Obi-Wan Kenobi. You're my only hope. Oh, he says it's nothing, sir. Merely a malfunction. Old data. Pay it no mind. Who is she? She's beautiful. I'm afraid I'm not quite sure, sir. Help me, Obi-Wan Kenobi... I think she was a passenger on our last voyage. A person of some importance, sir -- I believe. Our captain was attached to... Is there more to this recording? Behave yourself, Artoo. You're going to get us in trouble. It's all right, you can trust him. He's our new master.</p>
            <p>Run, Luke! Run!</p>
            <H1>I am Sam</H1>
            <H2>Sam I am</H2>
            <p>Space: the final frontier. These are the voyages of the starship enterprise. Her mission, to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before!</p>
            <h2>Here's a new section</h2>
            <p>Have you been in many battles? Several, I think. Actually, there's not much to tell. I'm not much more than an interpreter, and not very good at telling stories. Well, not at making them interesting, anyways. Well, my little friend, you've got something jammed in here real good. Were you on a cruiser or...</p>
            <p>The battle station is heavily shielded and carries a firepower greater than half the star fleet. It's defenses are designed around a direct large-scale assault. A small one-man fighter should be able to penetrate the outer defense. Pardon me for asking, sir, but what good are snub fighters going to be against that? Well, the Empire doesn't consider a small one-man fighter to be any threat, or they'd have a tighter defense. An analysis of the plans provided by Princess Leia has demonstrated a weakness in the battle station.</p>
            <p>You're safe! We had feared the worst. When we heard about Alderaan, we were afraid that you were... We don't have time for our sorrows, Commander. The battle station has surely tracked us here. It's the only explanation for the ease of our escape. You must use the information in this R2 unit to plan the attack. It is our only hope. Yes. We are approaching the planet Yavin. The Rebel base is on a moon on the far side. We are preparing to orbit the planet.</p>
            <p>Help me, Obi-Wan Kenobi. You're my only hope. What's this? What is what?!? He asked you a question... What is that? Help me, Obi-Wan Kenobi. You're my only hope. Help me, Obi-Wan Kenobi. You're my only hope. Oh, he says it's nothing, sir. Merely a malfunction. Old data. Pay it no mind. Who is she? She's beautiful. I'm afraid I'm not quite sure, sir. Help me, Obi-Wan Kenobi... I think she was a passenger on our last voyage. A person of some importance, sir -- I believe. Our captain was attached to... Is there more to this recording? Behave yourself, Artoo. You're going to get us in trouble. It's all right, you can trust him. He's our new master.</p>
            <p>Run, Luke! Run!</p>
        </section>
    </div>
</body>
</html>
