<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Orbitron:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../assets/css/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script type="text/javascript" src="../../assets/js/index.js"></script>
    </head>
<body class="space content-page">
    <div class="bg-elements">
        <div class="random-shape"></div>
        <div class="random-shape drop-bubble"></div>
        <div class="random-shape drop-bubble"></div>
        <div class="random-shape drop-bubble"></div>
        <canvas id="stars" width="1000" height="800"></canvas>
    </div>
    <div class="content">
        <menu class="">
            <div class="btn-wrap"><a href="landing.html">Home</a></div>
            <!-- <div class="btn-wrap disabled"><a href="about-me.html">About Me</a></div> -->
            <div class="btn-wrap disabled"><a>About Me</a></div>
            <div class="btn-wrap"><a href="resume.html">Resume</a></div>
            <div class="btn-wrap disabled"><a>Software</a></div>
            <div class="btn-wrap disabled"><a>Portfolio</a></div>
            <button id="menu-open" aria-label="open menu" tabindex="1"></button>
        </menu>
        <main>
            <h1>Resume</h1>
            <h3>I am a passionate programmer with an eye for visual design and a love of learning new skills.</h3>
            <section class="top-level">
                <h2>Experience</h2>
                <section class="mid-level">
                    <div class="mid-header header">
                        <h3 class="mid-name">The Walt Disney Company</h3>
                        <h3 class="mid-location">Glendale, CA</h3>
                        <h3 class="mid-date">July 2015-Present</h3>
                    </div>
                    <section class="low-level">
                        <div class="low-header header">
                            <h4 class="low-title">Software Engineer</h4>
                            <h4 class="low-date">October 2017-Present</h4>
                        </div>
                        <div class="low-header header">
                            <h4 class="low-title">Associate Software Engineer</h4>
                            <h4 class="low-date">March 2016-October 2017</h4>
                        </div>
                        <ul>
                            <li>
                                Research and learn emerging technologies to integrate into original products
                                <ul>
                                    <li>Ideated highly extensible scroll reveal experience for movie premieres which I then created, helped design, and release</li>
                                </ul>
                            </li>
                            <li>
                                Collaborate and offer input in multiple disciplines to bring projects to production
                                <ul>
                                    <li>Work closely with design and product on multiple site redesigns, user interactibles, and new site experiences</li>
                                    <li>Integrate and optimize use with external technology such as Google AMP</li>
                                    <li>Ex. Shoppable blogs, <a href="https://lol.disney.com/games/disney-yourself">lol.disney.com/disney-yourself</a>, <a href="https://www.readriordan.com/">readriordan.com</a>, <a href="https://dtcimedia.disney.com/">dtcimedia.disney.com</a></li>
                                </ul>
                            </li>
                            <li>Participate in leadership roles to to maintain excellence in code health/longevity, accessibility, and documentation</li>
                        </ul>
                    </section>
                    <section class="low-level">
                        <div class="low-header header">
                            <h4 class="low-title">Web Development Intern</h4>
                            <h4 class="low-date">July 2015-March 2016</h4>
                        </div>
                        <ul>
                            <li>Edit and adapt the UI for Matterhorn Core (a structured repository for all Disney related info) for efficient usage and consistency</li>
                            <li>Program new features for WordPress and implemented the redesign of select Disney blogs</li>
                        </ul>
                    </section>
                    <section class="low-level">
                        <div class="low-header header">
                            <h4 class="low-title">Participation and Giving Back</h4>
                        </div>
                        <ul>
                            <li>
                                Passion for mentorship and tech evangelism
                                <ul>
                                    <li>Mentor for Disney’s Code Rosie program</li>
                                    <li>Tech mentor: Warriors Who Code Challenge, <a href="https://www.wired.com/brandlab/2018/04/rising-voices-black-girls-code/">https://www.wired.com/brandlab/2018/04/rising-voices-black-girls-code/</a></li>
                                    <li>Disney Tech Representative at Stanford Tree Hacks and Cal Tech Hack Days</li>
                                    <li>Disney’s Women & Tech committee member</li>
                                    <li>Stanford Society of Women Engineers Evening with Industry Panelist</li>
                                    <li>Taught an Intro to Electronics Class</li>
                                </ul>
                            </li>
                            <li>Leader of Maker Mouse Club, a group of over 400 Disney employees exploring new technologies</li>
                            <li>Crisis Management - Group leader, floor alternate, Building area leader, crisis response champion</li>
                            <li>Disney Hack days: code teaching game for young children, created in-store interactions (winner), AR iPhone app (continued development), bot battles (runner up)</li>
                        </ul>
                    </section>
                </section>
                <section class="mid-level">
                    <div class="mid-header header">
                        <h3 class="mid-name">Fox Home Entertainment</h3>
                        <h3 class="mid-location">Century City, CA</h3>
                        <h3 class="mid-date">February 2015-April 2015</h3>
                    </div>
                    <section class="low-level">
                        <div class="low-header header">
                            <h4 class="low-title">Ops Analysis and Technology Intern</h4>
                        </div>
                        <ul>
                            <li>Database manipulation and creation for internal, organizational purposes</li>
                            <li>Front-end development of user-interface with database</li>
                            <li>Creation of web-based reporting tool with data organization streamlined for swift use in global sales </li>
                        </ul>
                    </section>
                </section>
                <section class="mid-level">
                    <div class="mid-header header">
                        <h3 class="mid-name">Pepperdine University</h3>
                        <h3 class="mid-location">Malibu, CA</h3>
                        <h3 class="mid-date">August 2013-February 2015</h3>
                    </div>
                    <section class="low-level">
                        <div class="low-header header">
                            <h4 class="low-title">Graphic Design and Web Development Intern</h4>
                        </div>
                        <ul>
                            <li>Extensive print and web design for events, the Pepperdine Magazine, and the university website</li>
                            <li>PHP and HTML coding to update the Pepperdine University website</li>
                        </ul>
                    </section>
                </section>
                <section class="mid-level">
                    <div class="mid-header header">
                        <h3 class="mid-name">JJ&A</h3>
                        <h3 class="mid-location">Glendale, CA</h3>
                        <h3 class="mid-date">June 2014-July 2014</h3>
                    </div>
                    <section class="low-level">
                        <div class="low-header header">
                            <h4 class="low-title">Graphic Design Intern</h4>
                        </div>
                        <ul>
                            <li>Complete projects for in-store displays at Walmart, Best Buy, and Mattel</li>
                            <li>Shadow a partner of the company to client meetings, project meetings, and printers</li>
                        </ul>
                    </section>
                </section>
            </section>
            <section class="top-level">
                <h2>Education</h2>
                <section class="mid-level">
                    <div class="mid-header header">
                        <h3 class="mid-name">Pepperdine University</h3>
                        <h3 class="mid-location">Malibu, CA</h3>
                        <h3 class="mid-date">August 2011-May 2015</h3>
                    </div>
                    <section class="low-level">
                        <div class="low-header header">
                            <h4 class="low-title">Major: Computer Science/Mathematics</h4>
                            <h4 class="low-date">GPA 3.84, Magna Cum Laude</h4>
                        </div>
                        <div class="low-header header">
                            <h4 class="low-title">Minor: Multimedia Design</h4>
                        </div>
                        <ul>
                            <li>Awards: Regents Scholarship (4 year, academic, $104000) & Litton Industries Endowed CS Scholarship</li>
                            <li>Activities: Resident Advisor, Research Position, Pepperdine Colleges Against Cancer Committee Chair</li>
                        </ul>
                    </section>
                </section>
            </section>

            <section class="top-level">
                <h2>Skills</h2>
                <section class="mid-level">
                    <section class="low-level">
                        <ul>
                            <li>Software: JavaScript, JQuery, NodeJS, CSS/SASS, Grunt, PHP, HTML, HAML, Mustache, WordPress, Git, GitHub, <a href="https://github.com/samageddon/">https://github.com/samageddon/</a>, Jenkins, Confluence, Agile Development, JIRA, Slack, Homebrew, Ruby on Rails, C++, Java, Object- Oriented Programming, Data Structures, Arduino, Python, SQL, VBA; Experience with QT, PhoneGap, Go, Visual Studio, GKE, Docker, Swift, Xcode (give me a language; I’ll learn it)</li>
                            <li>Design: Proficient in UX/UI Design, Photoshop, Illustrator, InDesign, Sketch, Invision, Keynote</li>
                            <li>Interests: Communication, Wearable Technology, 3D Modeling/Printing, Triathlete, Disney Cast Choir, Wedding Coordinator, Former Ski Patroller</li>
                        </ul>
                    </section>
                </section>
            </section>

        </main>
    </div>
</body>
</html>
