<section class="top-level">
    <h2></h2>
    <section class="mid-level">
        <div class="mid-header header">
            <h3 class="mid-name"></h3>
            <h3 class="mid-location"></h3>
            <h3 class="mid-date"></h3>
        </div>
        <section class="low-level">
            <div class="low-header header">
                <h4 class="low-title"></h4>
                <h4 class="low-date"></h4>
            </div>
            <ul>
                <li>
                    
                    <ul>
                        <li></li>
                    </ul>
                </li>
                <li></li>
            </ul>
        </section>
    </section>
</section>